<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Please give brand name</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <figure>
            <figcaption>Podaj markę tego pojazdu</figcaption>
            <img src={{car_img_link}}></img>
        </figure>
        <div id="answer">
            <select id="greet" onchange="getOption()">
                {% for brand in car_brands %}
                    <option value= "{{ brand }}" {% if brand != true_brand %} selected {% endif %}>{{brand}}</option>"
                    {{ option }}
                {% endfor %}
            </select>
            <div>
                <p id="result_text"></p>
                <button onClick="window.location.reload();">New task</button>
            </div>
        </div>
        <script>
            {% block code %}
                {{js|safe}}
            {% endblock code %}
        </script>
     </body>
</html>